.toggle-btn{
    left: 105%;
    top: 15px;
    float: left;
    margin-top: -3px;
}

.toggle-btn span{
    display: block;
    background-color: black;
    width: 31px;
    height: 3px;
    margin: 5px;
}

.tt{
    float: right;
    margin-right: 130px;
    margin-top: -15px;
    font-style: inherit;
    font-size: large;
}
