.toggle-btn{
    left: 105%;
    top: 15px;
    float: left;
    margin-top: -3px;
}

.toggle-btn span{
    display: block;
    background-color: black;
    width: 44px;
    height: 6px;
    margin: 8px;
}

.tt{
    float: right;
    margin-right: -500px;
    margin-top: -44px;
    font-style: inherit;
    font-size: 38px;
}
